%p
- @all_quotes.each do |quote|
  %div{:id => "quote"}
    %table{:border => "0"}
      %tr
      %td
        %a{:href => "/qte/#{quote.id}"} ID:#{quote.id}
        %strong=" " + "#" + quote.channel
      %td
        - if is_admin? || is_users_quote?(quote.id)
          %a{:href => "/qte/#{quote.id}/delete"} delete
      %td
        - if is_logged_in? && !has_voted?(quote.id)
          %form{:action => "/qte/#{quote.id}/upvote", :method => "post"}
            %label{:for => "submit"}
            %input{:type => "submit", :value => "up"}
      %td
        %strong #{quote.points}
      %td
        - if is_logged_in? && !has_voted?(quote.id)
          %form{:action => "/qte/#{quote.id}/downvote", :method => "post"}
            %label{:for => "submit"}
            %input{:type => "submit", :value => "down"}
    %p
    %r= quote.body
    %p
  %p
